body {
    padding: 0;
    margin: 0;
    border:0;
}
.formpage{
    background-color: whitesmoke;
    height: 1200px;
    width: 1000px;
    padding: 5px;
    margin: 0 auto 0 auto;    
}

.Header {
    background-color: whitesmoke;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.reds {
    height: 90%;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red {
    background-color: #097479;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pinks {
    height: 90%;
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pink {
    color: #097479;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 20px 0 20px;
    font-size: 17pt;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
}

.Content1 {
    background-color: whitesmoke;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.blues {
    color: #097479;
    height: 90%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 20px 0 20px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    border: 2px solid #097479;
}

.Content2 {
    background-color: whitesmoke;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oranges {
    height: 90%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange {
    color: #097479;
    height: 100%;
    width: 35%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 20px 0 20px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    border: 2px solid #097479;
}

.Footer {
    background-color: whitesmoke;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.yellows {
    color: #097479;
    height: 90%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 20px 0 20px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    border: 2px solid #097479;
}
.yellow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconbig {
    width:80px;
    height:80px;
    margin-left: 40px;
}
.iconsmall {
    width:30px;
    margin-right: 10px;
}
.iconlever {
    width:120px;
    margin-right: 10px;
}
.col1{
    width:100px;
}
.col2{
    width:250px;
}